@import "../../index"

.section
  width: 100%
  height: 100%

.container
  margin: 0 auto
  width: 100%
  max-width: 1140px
  padding: 5rem .9375rem

.containerTop
  margin-bottom: 3rem
  h1
    color: $pink
    font-weight: 900

.containerBottom
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto
  grid-column-gap: 20px
  h2
    color: $black
    margin-bottom: 0.5rem
    span
      color: $pink
      font-size: 18px
  h4
    line-height: 1.5em
    color: rgba(0,0,0,.5)


