@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.8125em;
  font-weight: 400;
}

h3 {
  font-size: 1.4375em;
  font-weight: 400;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
}

h5 {
  font-size: 0.875em;
  font-weight: 400;
}

h6 {
  font-size: 0.6875em;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8125em;
  }

  h2 {
    font-size: 1.4375em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 0.875em;
  }

  h5 {
    font-size: 0.6875em;
  }

  h6 {
    font-size: 0.5625em;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4375em;
  }

  h2 {
    font-size: 1.125em;
  }

  h3 {
    font-size: 0.875em;
  }

  h4 {
    font-size: 0.6875em;
  }

  h5 {
    font-size: 0.5625em;
  }

  h6 {
    font-size: 0.5em;
  }
}
.section {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding: 5rem 0.9375rem;
}

.containerTop {
  margin-bottom: 3rem;
}
.containerTop h1 {
  color: #e81050;
  font-weight: 900;
}

.containerBottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
}
.containerBottom h2 {
  color: #000000;
  margin-bottom: 0.5rem;
}
.containerBottom h2 span {
  color: #e81050;
  font-size: 18px;
}
.containerBottom h4 {
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=Team3.module.css.map */
