@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.8125em;
  font-weight: 400;
}

h3 {
  font-size: 1.4375em;
  font-weight: 400;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
}

h5 {
  font-size: 0.875em;
  font-weight: 400;
}

h6 {
  font-size: 0.6875em;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8125em;
  }

  h2 {
    font-size: 1.4375em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 0.875em;
  }

  h5 {
    font-size: 0.6875em;
  }

  h6 {
    font-size: 0.5625em;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4375em;
  }

  h2 {
    font-size: 1.125em;
  }

  h3 {
    font-size: 0.875em;
  }

  h4 {
    font-size: 0.6875em;
  }

  h5 {
    font-size: 0.5625em;
  }

  h6 {
    font-size: 0.5em;
  }
}
.section {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding: 5rem 0.9375rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 7.5rem;
}

.containerLeft {
  max-width: 540px;
}

.containerRight {
  max-width: 450px;
  display: grid;
  align-items: center;
}

.first {
  color: #e81050;
  margin-bottom: 1rem;
}
.first h1 {
  font-weight: 900;
}

.second {
  margin-bottom: 1rem;
}
.second h3 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  line-height: 1.5em;
}

.third {
  margin-bottom: 1rem;
}
.third h4 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  line-height: 1.5em;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  background: #e81050;
  border-radius: 30px;
  padding: 0.9375rem 1.875rem;
  transition: all 0.3s linear;
}

button:hover,
button:focus,
button:active {
  color: #e81050;
  background: #ffffff;
}

/*# sourceMappingURL=Team2.module.css.map */
