@import "../../index"

.section
  width: 100%
  height: 100%

.container
  margin: 0 auto
  width: 100%
  max-width: 1140px
  padding: 5rem .9375rem
  display: grid
  grid-template-columns: auto auto
  grid-template-rows: auto
  grid-gap: 7.5rem

.containerLeft
  max-width: 540px

.containerRight
  max-width: 450px
  display: grid
  align-items: center

.first
  color: $pink
  margin-bottom: 1rem
  h1
    font-weight: 900

.second
  margin-bottom: 1rem
  h3
    color: rgba(0,0,0,.5)
    font-weight: 300
    line-height: 1.5em

.third
  margin-bottom: 1rem
  h4
    color: rgba(0,0,0,.5)
    font-weight: 500
    line-height: 1.5em

button
  cursor: pointer
  outline: none
  border: none
  color: $white
  background: $pink
  border-radius: 30px
  padding: .9375rem 1.875rem
  transition: all .3s linear
button:hover,
button:focus,
button:active
  color: $pink
  background: $white
