@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.8125em;
  font-weight: 400;
}

h3 {
  font-size: 1.4375em;
  font-weight: 400;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
}

h5 {
  font-size: 0.875em;
  font-weight: 400;
}

h6 {
  font-size: 0.6875em;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8125em;
  }

  h2 {
    font-size: 1.4375em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 0.875em;
  }

  h5 {
    font-size: 0.6875em;
  }

  h6 {
    font-size: 0.5625em;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4375em;
  }

  h2 {
    font-size: 1.125em;
  }

  h3 {
    font-size: 0.875em;
  }

  h4 {
    font-size: 0.6875em;
  }

  h5 {
    font-size: 0.5625em;
  }

  h6 {
    font-size: 0.5em;
  }
}
.section {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding: 5rem 0.9375rem;
}

.first {
  max-width: 450px;
  margin-bottom: 3rem;
}
.first h1 {
  color: #e81050;
  font-weight: 900;
  margin-bottom: 1rem;
}
.first h3 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

.third {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
.third .figure {
  position: relative;
  overflow: hidden;
}
.third .figure img {
  max-width: 250px;
}
.third .figure ul {
  position: absolute;
  background-color: #e81050;
  padding: 5px;
  bottom: 0;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}
.third .figure ul li {
  list-style: none;
  padding: 10px;
}
.third .figure ul li div {
  cursor: pointer;
}

.member div:nth-child(2) {
  padding: 1rem;
}
.member div:nth-child(2) h3 {
  color: #000000;
}
.member div:nth-child(2) h4 {
  color: rgba(0, 0, 0, 0.5);
}

.member:hover ul {
  transform: translateX(0%);
  left: 0;
}

/*# sourceMappingURL=Team.module.css.map */
