@import "../../index"

.section
  width: 100%
  height: 100%
  border-bottom: 1px solid rgba(0,0,0,.2)

.container
  margin: 0 auto
  width: 100%
  max-width: 1140px
  padding: 5rem .9375rem

.first
  max-width: 450px
  margin-bottom: 3rem
  h1
    color: $pink
    font-weight: 900
    margin-bottom: 1rem
  h3
    color: rgba(0,0,0,.5)
    font-weight: 300
    line-height: 1.5em
    margin-bottom: 1rem


.third
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: auto
  grid-gap: 30px
  .figure
    position: relative
    overflow: hidden
    img
      max-width: 250px
    ul
      position: absolute
      background-color: $pink
      padding: 5px
      bottom: 0
      transform: translateX(-100%)
      transition: all .3s linear
      li
        list-style: none
        padding: 10px
        div
          cursor: pointer

.member div:nth-child(2)
  padding: 1rem
  h3
    color: $black
  h4
    color: rgba(0,0,0,.5)

.member:hover ul
  transform: translateX(0%)
  left: 0