@import "../../index"

.section
  width: 100%
  height: 100%

.container
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 1140px
  padding: 5rem .9375rem
  .containerBox
    position: absolute
    max-width: 550px
    right: 10%
    bottom: 0
    background-color: $pink
    padding: 3rem
    button
      cursor: pointer
      outline: none
      border: none
      color: $white
      background: #505288
      border-radius: 30px
      padding: .9375rem 1.875rem
      transition: all .3s linear
    .first
      margin-bottom: 1.5rem
      h5
        font-weight: 300
        text-transform: uppercase
    .second
      margin-bottom: 1.5rem
    .third
      margin-bottom: 1.5rem
      h4
        line-height: 1.5em
        font-weight: 300