@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.8125em;
  font-weight: 400;
}

h3 {
  font-size: 1.4375em;
  font-weight: 400;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
}

h5 {
  font-size: 0.875em;
  font-weight: 400;
}

h6 {
  font-size: 0.6875em;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8125em;
  }

  h2 {
    font-size: 1.4375em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 0.875em;
  }

  h5 {
    font-size: 0.6875em;
  }

  h6 {
    font-size: 0.5625em;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4375em;
  }

  h2 {
    font-size: 1.125em;
  }

  h3 {
    font-size: 0.875em;
  }

  h4 {
    font-size: 0.6875em;
  }

  h5 {
    font-size: 0.5625em;
  }

  h6 {
    font-size: 0.5em;
  }
}
.section {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding: 5rem 0.9375rem;
}
.container .containerBox {
  position: absolute;
  max-width: 550px;
  right: 10%;
  bottom: 0;
  background-color: #e81050;
  padding: 3rem;
}
.container .containerBox button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  background: #505288;
  border-radius: 30px;
  padding: 0.9375rem 1.875rem;
  transition: all 0.3s linear;
}
.container .containerBox .first {
  margin-bottom: 1.5rem;
}
.container .containerBox .first h5 {
  font-weight: 300;
  text-transform: uppercase;
}
.container .containerBox .second {
  margin-bottom: 1.5rem;
}
.container .containerBox .third {
  margin-bottom: 1.5rem;
}
.container .containerBox .third h4 {
  line-height: 1.5em;
  font-weight: 300;
}

/*# sourceMappingURL=About.module.css.map */
