@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.8125em;
  font-weight: 400;
}

h3 {
  font-size: 1.4375em;
  font-weight: 400;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
}

h5 {
  font-size: 0.875em;
  font-weight: 400;
}

h6 {
  font-size: 0.6875em;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8125em;
  }

  h2 {
    font-size: 1.4375em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 0.875em;
  }

  h5 {
    font-size: 0.6875em;
  }

  h6 {
    font-size: 0.5625em;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4375em;
  }

  h2 {
    font-size: 1.125em;
  }

  h3 {
    font-size: 0.875em;
  }

  h4 {
    font-size: 0.6875em;
  }

  h5 {
    font-size: 0.5625em;
  }

  h6 {
    font-size: 0.5em;
  }
}
.section {
  width: 100%;
  height: 100%;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  background: rgba(0, 0, 0, 0.2) url("../../images/bck.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
.container .containerCenter {
  position: relative;
  text-align: center;
  max-width: 450px;
}
.container .containerCenter div:nth-child(2) {
  margin: 1.25rem 0;
}
.container .containerCenter h1 {
  font-weight: 900;
  text-transform: capitalize;
}
.container .containerCenter h4 {
  line-height: 1.5em;
  font-weight: 300;
}
.container .containerCenter button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  background: #e81050;
  border-radius: 30px;
  padding: 0.9375rem 1.875rem;
  transition: all 0.3s linear;
}
.container .containerCenter button:hover,
.container .containerCenter button:focus,
.container .containerCenter button:active {
  color: #e81050;
  background: #ffffff;
}

/*# sourceMappingURL=Home.module.css.map */
