@import "../../index"

.section
  width: 100%
  height: 100%

.container::before
  content: ""
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(0,0,0,.2)

.container
  background: rgba(0,0,0,.2) url("../../images/bck.jpg") no-repeat center
  background-size: cover
  overflow: hidden
  width: 100%
  height: 100vh
  display: grid
  align-items: center
  justify-items: center
  .containerCenter
    position: relative
    text-align: center
    max-width: 450px
    div:nth-child(2)
      margin: 1.25rem 0
    h1
      font-weight: 900
      text-transform: capitalize
    h4
      line-height: 1.5em
      font-weight: 300
    button
      cursor: pointer
      outline: none
      border: none
      color: $white
      background: $pink
      border-radius: 30px
      padding: .9375rem 1.875rem
      transition: all .3s linear
    button:hover,
    button:focus,
    button:active
      color: $pink
      background: $white