@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-weight: 400;
}

h2 {
  font-size: 1.8125em;
  font-weight: 400;
}

h3 {
  font-size: 1.4375em;
  font-weight: 400;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
}

h5 {
  font-size: 0.875em;
  font-weight: 400;
}

h6 {
  font-size: 0.6875em;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.8125em;
  }

  h2 {
    font-size: 1.4375em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 0.875em;
  }

  h5 {
    font-size: 0.6875em;
  }

  h6 {
    font-size: 0.5625em;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4375em;
  }

  h2 {
    font-size: 1.125em;
  }

  h3 {
    font-size: 0.875em;
  }

  h4 {
    font-size: 0.6875em;
  }

  h5 {
    font-size: 0.5625em;
  }

  h6 {
    font-size: 0.5em;
  }
}
.header {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.875rem 0;
  z-index: 1;
  transition: all 0.3s linear;
}
.header .leftMenu {
  grid-column: 1;
}
.header .rightMenu {
  grid-column: 2;
}
.header .items {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-auto-rows: auto;
  grid-gap: 2.5em;
}
.header .items .item {
  cursor: pointer;
}

.color {
  color: #e81050;
}

.active {
  color: #e81050;
}

/*# sourceMappingURL=Header.module.css.map */
