@import "../../index"

.header
  position: fixed
  display: grid
  grid-template-columns: auto auto
  align-items: center
  justify-items: center
  background-color: rgba(0,0,0,0)
  width: 100%
  border-bottom: 1px solid rgba(255,255,255,0.2)
  padding: 1.875rem 0
  z-index: 1
  transition: all .3s linear
  .leftMenu
    grid-column: 1
  .rightMenu
    grid-column: 2
  .items
    display: grid
    grid-template-columns: repeat(7, auto)
    grid-auto-rows: auto
    grid-gap: 2.5em
    .item
      cursor: pointer

.color
  color: $pink

.active
  color: $pink