@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese')

$white: #ffffff
$black: #000000
$pink: #e81050

*
  margin: 0
  padding: 0
  box-sizing: border-box

html,
body
  font-family: "Roboto", sans-serif
  width: 100%
  height: 100%
  color: $white

img
  width: 100%
  height: auto
  display: block

a
  text-decoration: none

h1
  font-size: 2.25em
  font-weight: 400

h2
  font-size: 1.8125em
  font-weight: 400

h3
  font-size: 1.4375em
  font-weight: 400

h4
  font-size: 1.125em
  font-weight: 400

h5
  font-size: 0.875em
  font-weight: 400

h6
  font-size: 0.6875em
  font-weight: 400

@media screen and (max-width: 992px)

  h1
    font-size: 1.8125em

  h2
    font-size: 1.4375em

  h3
    font-size: 1.125em

  h4
    font-size: 0.875em

  h5
    font-size: 0.6875em

  h6
    font-size: 0.5625em

@media screen and (max-width: 600px)

  h1
    font-size: 1.4375em

  h2
    font-size: 1.125em

  h3
    font-size: 0.875em

  h4
    font-size: 0.6875em

  h5
    font-size: 0.5625em

  h6
    font-size: 0.5em